[submodule "ext/nestegg"]
	path = ext/mbew-nestegg/nestegg
	url = https://github.com/kinetiknz/nestegg.git
[submodule "ext/libvpx"]
	path = ext/mbew-vpx/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
