[submodule "ext/nestegg"]
	path = ext/mbew-nestegg/nestegg
	url = https://github.com/kinetiknz/nestegg.git
[submodule "ext/libvpx"]
	path = ext/mbew-vpx/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "ext/mbew-vorbis/vorbis"]
	path = ext/mbew-vorbis/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "ext/mbew-ogg/ogg"]
	path = ext/mbew-ogg/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "ext/mbew-opus/opus"]
	path = ext/mbew-opus/opus
	url = https://gitlab.xiph.org/xiph/opus.git
